<!DOCTYPE html>
<html lang="SP">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Damlest</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />
    <link rel="icon" type="image" href="../images/damlest.png" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- Contenedor de la imagen de inicio -->
        <div class="image-container">
            <img id="background-image" src="../images/home.png" alt="Imagen inicial" />
            <div class="overlay">
                <div class="progress-bar">
                    <div class="progress" id="progress">
                        <!-- Ovas para la barra de progreso -->
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                        <div class="oval"></div>
                    </div>

                    <img src="../images/banderas.png" alt="Bandera" class="progress-icon" id="flag" />
                </div>
                <button @click="mostrarModal" class="btn-iniciar">
                    COMENZAR CARRERA
                </button>
                <p class="frase">
                    "Cuando hay una carrera, todos corren para ganar, pero solo uno
                    recibe el premio. Así que corran para ganar ..." - 1 Corintios 9
                </p>
            </div>
        </div>

        <!-- Este truco solo se puede hacer una vez -->
        <div class="falseo">
            <img id="background-image-riesgo" src="../images/4.png" alt="riesgo" />
            <img id="background-image-motocross" src="../images/5.png" alt="motocross" />
            <img id="background-image-productos" src="../images/6.png" alt="productos" />
        </div>

        <!-- Sección de productos -->
        <section class="productos">
            <div class="producto" v-for="producto in productos" :key="producto.id">
                <img :src="producto.imagen" :alt="producto.nombre" @click="mostrarSubmenu(producto)" />
                <h3>
                    {{ producto.nombre }} <br />
                    S/.{{ producto.precio }}
                </h3>
            </div>
        </section>

        <!-- Submenú del producto seleccionado -->
        <div v-if="productoSeleccionado" class="submenu-producto">
            <h3>{{ productoSeleccionado.nombre }}</h3>
            <div class="galeria-fotos">
                <img v-for="(foto, index) in productoSeleccionado.fotos" :key="index" :src="foto"
                    alt="Imagen del producto" />
            </div>
            <button @click="mostrarFormularioCompra">COMPRAR AHORA</button>
        </div>

        <!-- Footer -->
        <div class="falseo">
            <img id="background-image-footer" src="../images/footer.png" alt="productos" />
        </div>

        <!-- Modal para realizar la compra -->
        <div v-if="mostrarCompra" class="modal compra-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span @click="cerrarModalCompra" class="close">&times;</span>
                </div>
                <!-- Nueva sección para la imagen a la izquierda -->
                <div class="modal-left">
                    <div class="menu">
                        <img :src="productoSeleccionado.menuImage" alt="Menu" class="menu-image" />
                    </div>
                </div>
                <!-- Contenido de la compra a la derecha -->
                <div class="modal-right">
                    <div class="borde-superior">
                        <h2>{{ productoSeleccionado.nombre }}</h2>
                        <h2>S/.{{ productoSeleccionado.precio }}</h2>
                    </div>
                    <div class="form-group">
                        <label for="talla">Talla:</label><br>
                        <select v-model="tallaSeleccionada">
                            <option disabled value="">Talla</option>
                            <option v-for="talla in productoSeleccionado.tallas" :key="talla">
                                {{ talla }}
                            </option>
                        </select>
                    </div>
                    <button @click="comprarProducto">COMPRAR AHORA</button>
                </div>
            </div>
        </div>

        <!-- Modal de QR para WhatsApp -->
        <div v-if="mostrarQRW" class="modal qr-modal">
            <div class="modal-content">
                <span @click="cerrarQR" class="close" style="color: white">&times;</span>
                <h2>Comunícate con nosotros</h2>
                <img src="../images/dannfer.jpg" alt="QR WhatsApp" />
                <p>
                    Escanea el QR con WhatsApp para realizar el pago o dale al link:
                </p>
                <a href="https://wa.me/qr/I7JYPDKMC2A5A1">WhatsApp</a>
            </div>
        </div>

        <!-- Modal para solicitar nombre y correo -->
        <div v-if="showModal" class="modal datos-modal">
            <div class=" modal-content">
                <span @click="cerrarModal" class="close"
                    style="color: white; position: absolute; top: 10px; right: 10px;">&times;</span>
                <div class="rectangulo-blanco">
                    <h1 style="color: black" class="form-title">DAMLEST</h1>
                    <form>
                        <div class="form-group">
                            <label for="nombre" class="form-label">CORREDOR (nombre):</label>
                            <input type="text" v-model="nombre" placeholder="Nombre..." class="form-input" />
                        </div>
                        <div class="form-group">
                            <label for="correo" class="form-label">CORREO ELECTRÓNICO:</label>
                            <input type="email" v-model="correo" placeholder="Correo..." class="form-input" />
                        </div>
                        <div class="form-group">
                            <button @click="guardarDatos" class="btn">Enviar</button><br>
                            <a href="https://www.instagram.com/damlest_ofc/" target="_blank" aria-label="Instagram"
                                style="margin-left: 10px;">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="triangle" onclick="openPage()"></div>
                <!-- Área clickeable del triángulo -->
                </div>
            </div>
        </div>
    <!-- Scripts externos -->
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/dd42caaf11.js" crossorigin="anonymous"></script>
</body>

</html>
